{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
<main class="container">
    <h1 class="display-4 my-5">Création de compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}

        <button id="signIn" class="btn btn-lg btn-outline-success my-4 py-2" type="submit">
        S'enregistrer
        </button>
    {{ form_end(registrationForm) }}
</main>
{% endblock %}
