body {
    font-family: 'Quicksand', sans-serif;
    background-color: #F8F9FA;
}

.navbar .brand { 
    max-height: 40px;
    max-width: 30%; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}

a {
    text-decoration: none !important;
}

a:hover, a:focus {
    text-decoration: underline;
    color: #73c2aa;
}

.btn-info {
    color: #fff;
    background-color: #914D9E;
    border-color: #2c0235; /*set the color you want here*/
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info:active:focus, .open>.dropdown-toggle.btn-info {
    color: #fff;
    background-color: #914D9E;
    border-color: #2c0235; /*set the color you want here*/
}

#loginButton {
    background-color: #914D9E;
    color: rgb(255, 255, 255);
}

.btn-green {
    background-color: #4EC8A3;
    color: rgb(255, 255, 255);
}

.btn-red {
    background-color: #db4453;
    color: rgb(255, 255, 255);
}

.loginButton {
    color: #464747;
    font-size: larger;
}

#registerButton {
    background-color: #F8F9FA;
}

.register {
    text-decoration: none;
    color: #464747;
    font-size: larger;
    font-weight: bolder;
}

.badge-orange {
    background-color: #e99343;
    color: #FFF;
}

.green {
    color: #4ec8a3;
}