<form method="post" class="mt-4" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cette tâche?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
