{% extends 'base.html.twig' %}

{% block title %} Liste des tâches
{% endblock %}

{% block body %}

<div class="container">
    <h1>Veuillez créer une nouvelle liste de tâches</h1>
    <a href="{{ path('task_category_new') }}" class="btn btn-primary">Creer une nouvelle liste</a>
</div> 
	
{% endblock %}

