{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<main class="container">
    <h1 class="mt-5 mb-5">Create new task category</h1>

    {{ include('task_category/_form.html.twig') }}

    <a class="mt-5" href="{{ path('task_category_index') }}">Back to list</a>
<main>
{% endblock %}
