<form method="post" action="{{ path('time_report_delete', {'id': time_report.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de supprimer ce rapport?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ time_report.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
