{% extends 'base.html.twig' %}

{% block title %}Modification d'utilisateur{% endblock %}

{% block body %}
    <main class="container mt-5">
        <h1>Modifier un utilisateur</h1>

        {{ include('organisation/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('organisation_index') }}">Retour à la liste</a>

        {{ include('organisation/_delete_form.html.twig') }}
    </main>
{% endblock %}
